# Flutter
**/ios/Flutter/.last_build_id
**/Flutter/app.so
**/Flutter/app.dill
**/Flutter/app.dill.vm_snapshot_data
**/Flutter/app.dill.vm_snapshot_instr
**/Flutter/flutter_assets/
**/Flutter/flutter_export_environment.sh
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.idea/
**/.vscode/
**/build/
**/flutter_*.png
**/pubspec.lock
**/isolate_snapshot_data
**/isolate_snapshot_instr
**/test/*.vm_snapshot_data
**/test/*.vm_snapshot_instr
**/test/*.vm_snapshot_data.dill
**/test/*.vm_snapshot_instr.dill

# Go
*.o
*.a
*.so
*.exe
*.test
*.prof
bin/
pkg/
vendor/
.idea/
.vscode/
*.iml
Gopkg.lock
go.sum
.idea